{{ header }}        
<div id="common-home" class="container">
  <div class="row">
    <div id="content" class="col-md-10">
      <div class="card-deck">
      {% for category in categories %}
        {% if category.children %}
          {% for child in category.children %}
            <div class="card zoom">
              <img src="http://{{domain}}/image/{{child['image']}}" class="card-img-top" alt="...">
              <div class="card-img-overlay">
                <h5 class="card-title"><a href='{{ child.href }}'> {{child['name']}} </a></h5>
              </div>
            </div>
          {% endfor %}
        {% endif %}
        <div class="card zoom">
          <img src="http://{{domain}}/image/{{category['image']}}" class="card-img-top" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title"><a href='{{ category.href }}'> {{category['name']}} </a></h5>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
    <div class="col-md-2 hidden-xs hidden-sm"><script data-cfasync='false' type='text/javascript' src='//p382757.clksite.com/adServe/banners?tid=382757_751335_0'></script></div>
  </div>
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="text-center">
        <h4>Title</h4>
      </div>
      <p>
Lorem ipsum dolor sit amet, ea movet evertitur consectetuer mei, at vis modus deserunt conclusionemque. Delectus liberavisse delicatissimi ex nec. Sed copiosae forensibus efficiantur ei, usu ut dicam propriae menandri, cu ipsum mediocritatem eos. Esse salutatus sed eu. Congue populo evertitur cu vel. Diceret dignissim an pri, pro cu debet omnesque insolens, vidit eripuit gubergren ne eam. Est in petentium complectitur disputationi.      </p>
      </p>
    </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="text-center">
        <h4>Title</h4>
      </div>
      <p>
Lorem ipsum dolor sit amet, ea movet evertitur consectetuer mei, at vis modus deserunt conclusionemque. Delectus liberavisse delicatissimi ex nec. Sed copiosae forensibus efficiantur ei, usu ut dicam propriae menandri, cu ipsum mediocritatem eos. Esse salutatus sed eu. Congue populo evertitur cu vel. Diceret dignissim an pri, pro cu debet omnesque insolens, vidit eripuit gubergren ne eam. Est in petentium complectitur disputationi.      </p>
      </p>
    </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="text-center">
        <h4>Title</h4>
      </div>
      <p>
Lorem ipsum dolor sit amet, ea movet evertitur consectetuer mei, at vis modus deserunt conclusionemque. Delectus liberavisse delicatissimi ex nec. Sed copiosae forensibus efficiantur ei, usu ut dicam propriae menandri, cu ipsum mediocritatem eos. Esse salutatus sed eu. Congue populo evertitur cu vel. Diceret dignissim an pri, pro cu debet omnesque insolens, vidit eripuit gubergren ne eam. Est in petentium complectitur disputationi.      </p>
    </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="text-center">
        <h4>Title</h4>
      </div>
      <p>
Lorem ipsum dolor sit amet, ea movet evertitur consectetuer mei, at vis modus deserunt conclusionemque. Delectus liberavisse delicatissimi ex nec. Sed copiosae forensibus efficiantur ei, usu ut dicam propriae menandri, cu ipsum mediocritatem eos. Esse salutatus sed eu. Congue populo evertitur cu vel. Diceret dignissim an pri, pro cu debet omnesque insolens, vidit eripuit gubergren ne eam. Est in petentium complectitur disputationi.      </p>
      </p>
    </div>
  </div>
</div>
{{ footer }}